@import "~bootstrap/scss/functions"; 
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.headerContainer {
  margin: 2rem 0;
  padding: 0.5rem;
  border: 1px solid map-get($theme-colors, "secondary");
  & h3 {
    color: black;
    margin-left: 1rem;
    margin-bottom: 0;
  }
}