.main__App___3prgX {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #F9F9FC; }

footer {
  margin-top: auto; }

label {
  font-weight: 800; }

.styles__footer___dxmuT {
  color: white;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.styles__wrapper___cu1W7 {
  padding: 1rem;
  margin-bottom: 1rem;
  background: white;
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
  border-radius: 4px; }
  .styles__wrapper___cu1W7 h1 {
    font-size: 1.5rem;
    font-weight: bold; }
  .styles__wrapper___cu1W7 h3 {
    font-size: 1rem; }

.styles__icon___6tQST {
  font-size: 2rem;
  color: #cda400; }
  .styles__icon___6tQST svg {
    vertical-align: top;
    float: right; }

@media (min-width: 992px) {
  .styles__wrapper___cu1W7 {
    padding: 2rem; }
    .styles__wrapper___cu1W7 h1 {
      font-size: 2.5rem; }
    .styles__wrapper___cu1W7 h3 {
      font-size: 1.75rem; }
  .styles__icon___6tQST {
    font-size: 3rem; } }

.styles__wrapper___1d9NF {
  padding: 2rem 0; }

.styles__title___6dT3X {
  display: inline-block;
  text-align: center;
  margin-left: 1rem; }

.styles__titleContainer___RhrNM {
  display: flex; }

.styles__headerContainer___1wXlO {
  margin: 2rem 0;
  padding: 0.5rem;
  border: 1px solid #6c757d; }
  .styles__headerContainer___1wXlO h3 {
    color: black;
    margin-left: 1rem;
    margin-bottom: 0; }

