.main__App___3prgX {
  height: 100vh;
  display: flex;
  flex-direction: column; }

footer {
  margin-top: auto; }

.styles__footer___dxmuT {
  color: white;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center; }

