@import "~bootstrap/scss/functions"; 
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '../../../static/assets/styles/variables';

.wrapper {
  padding: 1rem;
  margin-bottom: 1rem;
  background: white;
  box-shadow: $card-shadow;
  border-radius: 4px;
  & h1 {
    font-size: 1.5rem;
  }
  & h3 {
    font-size: 1rem;
  }
}

.icon {
  font-size: 2rem;
  & svg {
    vertical-align: top;
    float: right;
  }
}

@include media-breakpoint-up(lg) {
  .wrapper {
    padding: 2rem;
    & h1 {
      font-size: 2.1rem;
    }
    & h3 {
      font-size: 1.8rem;
    }
  }
  .icon {
    font-size: 2.5rem;
  }
}